footer {
    background-color: var(--apple-green);
    color: var(--baby-powder);
}

.reseaux-sociaux i {
    font-size: 25px;
    color: var(--baby-powder)
}

.footer-links a {
    color: var(--baby-powder);
}


@media (max-width: 770px) {

    .footer-links {
        flex-direction: column !important;
        text-align: center;
    }
}