<footer class="footer py-4 mt-auto">
    <div class="container px-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="reseaux-sociaux d-flex mb-4 justify-content-center">
                    <i class="bi bi-facebook cursor-pointer me-4"></i>
                    <i class="bi bi-twitter cursor-pointer me-4"></i>
                    <i class="bi bi-instagram cursor-pointer me-4"></i>
                    <i class="bi bi-youtube cursor-pointer"></i>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center footer-links">
                    <a routerLink="/CGU" class="me-4 mb-1">CGU</a>
                    <a routerLink="/Mentions-legales" class="me-4 mb-1"> Mentions
                        légales</a>
                    <a routerLink="/Donnees-personnelles" class="me-4 mb-1">
                        Données personnelles</a>
                    <a routerLink="/Politique-cookies" class="me-4 mb-1">Politique des
                        cookies</a>
                  <!-- <a routerLink="/plan-site" class="mb-1">Plan du site</a> -->
                </div>
            </div>
        </div>
    </div>
    <div class="text-center copyright mt-4 small">
        <p class="mb-1">© FuriousDucks {{ footerDate | date: 'yyyy' }}</p>
        <p>Ce site est un projet étudiant, le jeu-concours est purement fictif.</p>
    </div>
</footer>
