<footer class="footer py-4 mt-auto">
    <div class="container px-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="reseaux-sociaux d-flex mb-4 justify-content-center">
                    <i class="bi bi-facebook cursor-pointer me-4"></i>
                    <i class="bi bi-twitter cursor-pointer me-4"></i>
                    <i class="bi bi-instagram cursor-pointer me-4"></i>
                    <i class="bi bi-youtube cursor-pointer"></i>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center footer-links">
                    <a routerlink="/cgu" class="me-4 mb-1" href="/cgu">CGU</a>
                    <a routerlink="/mentions_legales" class="me-4 mb-1" href="/mentions_legales"> Mentions
                        légales</a>
                    <a routerlink="/donnees_personnelles" class="me-4 mb-1" href="/donnees_personnelles">
                        Données</a>
                    <a routerlink="/politique_cookies" class="me-4 mb-1" href="/politique_cookies">Politique des
                        cookies</a>
                    <a routerlink="/plan_site" class="mb-1" href="/plan_site">Plan du site</a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center copyright mt-4 small">
        <p class="mb-1">© FuriousDucks <span id="copyright-year"></span></p>
        <p>Ce site est un projet étudiant, le jeu-concours est purement fictif.</p>
    </div>
</footer>
