.logo {
    width: 80px;
}

.navbar {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar-collapse {
    flex-grow: 0;
    background-color: var(--baby-powder);
}

.navbar-toggler:focus {
    box-shadow: unset !important;
}
