<div class="container py-5">
<h3>Responsabilité éditoriale et conception</h3>
<p>Daily Metaverse</p>
<h3>Hébergement</h3>
<p>Namecheap</p>
<p>4600 East Washington Street Suite 305 Phoenix,</p>
<p>AZ 85034 United States</p>
<h3>Conditions Générales</h3>
<p>L’utilisateur reconnaît avoir pris connaissance de la présente notice légale et s’engage à la respecter. Il
  reconnaît avoir vérifié que la configuration informatique qu’il utilise ne contient aucun virus ou tout autre «
  logiciel malintentionné » et qu’elle est en parfait état de fonctionnement. L’utilisateur est seul responsable du
  choix, de l’utilisation et de l’interprétation des données qu’il consulte, interroge et transfère. Le propriétaire
  du site web met tout en œuvre pour offrir aux utilisateurs des informations et/ou des outils disponibles et
  vérifié(e)s mais ne saurait être tenu pour responsable des erreurs, d’une absence de disponibilité des informations
  et/ou de la présence de virus ou de « logiciels malintentionnés » sur son site.</p>
<p>Les fichiers résultants ne sont jamais transmis à des tiers. Nous ne commercialisons aucun fichier d’adresses ou
  d’e-mails.</p>
<h3>Propriété intellectuelle – droit de reproduction – liens</h3>
<p>La structure, textes, images animées ou non, sons, savoir-faire,… et tous les autres éléments composant le site
  sont la propriété exclusive du Daily Metaverse ou bien sont régulièrement exploités sous licence. L’ensemble de ce
  site relève de la législation française et internationale sur le droit d’auteur et la propriété intellectuelle. Tous
  les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les représentations
  iconographiques ou photographiques.</p>
<p>Toute reproduction électronique totale ou partielle de ce site sans l’autorisation expresse de la rédaction du
  Daily Metaverse est interdite et constituerait une contrefaçon sanctionnée par les articles L 335-2 et suivants du
  Code de la Propriété Intellectuelle (CPI), sauf mention expresse du contraire.<br>La reproduction sur support papier
  des pages de ce site est autorisée sauf mention explicite du contraire, sous réserve du respect des conditions
  suivantes :</p>
<ul>
  <li>respect de l’intégrité des documents reproduits</li>
  <li>citation explicite de l’origine :&nbsp;<a href="https://www.dailymetaverse.fr/" target="_blank"
      rel="noopener">https://www.dailymetaverse.fr</a>&nbsp;et mention que les droits de reproduction sont réservés et
    limités</li>
  <li>gratuité de la diffusion</li>
</ul>
<p><br>Il est possible de créer un lien vers la page d’accueil du site, sous réserve qu’il ne soit pas utilisé à des
  fins commerciales ou publicitaires et de la mention expresse au site sur le lien ou à proximité de celui-ci. Cette
  autorisation ne s’applique pas aux sites internet diffusant des informations à caractère illicite.</p>
<p>En tout état de cause, le webmaster qui créerait un lien hypertexte s’engage à ne pas utiliser la technique du lien
  profond dit « deep linking ». Il s’agit notamment des liens vers des documents graphiques, multimédia ou animés et
  tout autre document texte, que ceux-ci soient téléchargeables ou non.</p>
<p>Tout utilisation d’éléments du Site à l’intérieur d’un autre site par le biais d’inclusions, de cadres, d’inlining
  ou de procédés similaires est interdite.<br>Pour toute demande concernant un lien hypertexte, contactez le
  responsable de la rédaction à l’adresse mentionnée ci-dessus, en précisant l’adresse de la page où figurera le lien
  sur le site tiers.</p>
<h3>Crédits photographiques</h3>
<p>Sauf mention contraire, les photographies présentes sur le présent site sont la propriété du Daily Metaverse.</p>
<h3>Procédure de notification</h3>
<p>L’utilisateur qui constaterait des inexactitudes, des informations erronées ou des informations de caractère
  manifestement illicite, est tenu d’en informer le responsable de la publication afin que celui-ci y mette fin.</p>
<h3>Modification de la notice légale</h3>
<p>Daily Metaverse, propriétaire et exploitant du site, se réserve le droit de modifier la présente notice à tout
  moment. L’utilisateur s’engage donc à la consulter régulièrement.</p>
<h3>Droit applicable</h3>
<p>En cas de litige, le droit français est applicable. Il est fait attribution exclusive de juridiction aux tribunaux
  compétents.</p>
</div>