<div class="container py-5">
  <h1 class="title-color mb-5">Politique des cookies</h1>
  <p>L’Utilisateur est informé que lors de ses visites sur le site, un cookie peut s’installer automatiquement sur son
    logiciel de navigation. Les cookies sont de petits fichiers stockés temporairement sur le disque dur de l’ordinateur
    de l’Utilisateur par votre navigateur et qui sont nécessaires à l’utilisation du site
    https://thetiptop.dsp-archiwebo22-af-ez-sd.fr.<br><br>Les cookies ne contiennent pas d’information personnelle et ne
    peuvent pas être utilisés pour identifier quelqu’un. Un cookie contient un identifiant unique, généré aléatoirement
    et donc anonyme.<br><br>Certains cookies expirent à la fin de la visite de l’Utilisateur, d’autres restent.
    L’information contenue dans les cookies est utilisée pour améliorer le site
    https://thetiptop.dsp-archiwebo22-af-ez-sd.fr.
    En naviguant sur le site, L’Utilisateur les accepte.
    <br><br>L’Utilisateur doit toutefois donner son consentement quant à l’utilisation de certains cookies.
    A défaut d’acceptation, l’Utilisateur est informé que certaines fonctionnalités ou pages risquent de lui être
    refusées.
    <br><br>L’Utilisateur pourra désactiver ces cookies par l’intermédiaire des paramètres figurant au sein de son logiciel de
    navigation.</p>
</div>
