<div class="container py-5">
  <h1 class="title-color mb-5">Données personnelles</h1>
  <p>Le site assure à l'Utilisateur une collecte et un traitement d'informations personnelles dans le respect de la vie
    privée conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés. Le
    site est déclaré à la CNIL sous le numéro 123456788.
    <br><br>En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de
    rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit :
  </p>
  <ul>
    <li>via son espace personnel ;</li>
  </ul>
  <div class="d-grid gap-2 d-sm-flex justify-content-sm-center ">
    <button type="button" class="btn btn-login btn-lg px-4 gap-3 z-index " routerLink="/Landing_page">Retour</button>
  </div>
</div>

