<app-navbar-admin></app-navbar-admin>

<div class="text-center pt-4 pb-4">
  <h2 class="font-weight-bold title-color">Les tickets gagnés</h2>
</div>


<mat-form-field style="width:60%; margin-left: 20%">
  <mat-label>Filtrer la liste</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Test" #input>
</mat-form-field>

<mat-paginator showFirstLastButtons pageSize="20" style="font-weight: bold" aria-label="Select page of users"></mat-paginator>

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">

  <ng-container matColumnDef="idTicket">
    <th mat-header-cell *matHeaderCellDef style="font-weight: bold">idTicket</th>
    <td mat-cell *matCellDef="let element"> {{element.idTicket}} </td>
  </ng-container>

  <ng-container matColumnDef="numero">
    <th mat-header-cell *matHeaderCellDef style="font-weight: bold">numero</th>
    <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
  </ng-container>

  <ng-container matColumnDef="montant">
    <th mat-header-cell *matHeaderCellDef style="font-weight: bold">montant</th>
    <td mat-cell *matCellDef="let element"> {{element.montant}} </td>
  </ng-container>

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
        <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
        <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
      </button>
    </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <mat-card style="width: 70%;margin-left: 15%">
          <mat-card-header>
              <div style="margin-right: 30%; margin-left: 5%">

                <mat-card-title>{{element.gain.nomGain}}</mat-card-title>
                <mat-card-subtitle>Il en reste {{element.gain.nbreTicketRestant}}</mat-card-subtitle>
                <mat-divider></mat-divider>
                <div style="display: flex; flex-direction: row;margin-top: 5%">
                  <span class="material-icons" style="margin-left: 2%" style="align-self: center; color: green" >person_pin</span>
                  <span style="font-size: 1.2em; align-self: center">{{element.client.user_client.nom}} {{element.client.user_client.prenom}}</span>
                </div>
                <div style="display: flex; flex-direction: row;margin-top: 5%" *ngIf="element.gainRecu">
                  <span class="material-icons" style="margin-left: 2%" style="align-self: center; color: green" >sentiment_satisfied</span>
                  <span style="font-size: 1.2em; align-self: center">Gain récupéré par le client</span>
                </div>
                <div style="display: flex; flex-direction: row;margin-top: 5%" *ngIf="!element.gainRecu">
                  <span class="material-icons" style="margin-left: 2%" style="align-self: center; color: red" >mood_bad</span>
                  <span style="font-size: 1.2em; align-self: center">Gain toujours disponible</span>
                </div>
                <mat-divider></mat-divider>
                <div style="display: flex; flex-direction: row;margin-top: 5%">
                  <span class="material-icons" style="margin-left: 2%" style="align-self: center; color: green" >storefront</span>
                  <span style="font-size: 1.2em; align-self: center">{{element.magasin.nomMagasin}}</span>
                  <div style="display: flex; flex-direction: row;margin-left: 5%">
                    <span class="material-icons" style="margin-left: 2%" style="align-self: center; color: green" >place</span>
                    <span style="font-size: 1.2em; align-self: center">{{element.magasin.ville}}</span>
                  </div>
                </div>

              </div>
              <img mat-card-lg-image [src]="element.gain.lienImageGain" >
          </mat-card-header>
          <mat-card-content style="margin-top: 5%">
            {{element.gain.description}}
          </mat-card-content>
        </mat-card>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="5">Aucune commande ne correspond "{{input.value}}"</td>
  </tr>
</table>

<div class="text-center pt-4 pb-4">
  <button type="button" class="btn btn-outline-secondary">Ajouter un Ticket</button>
</div>
