.section-hero {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 600px;
    background-image: url(/assets/img/hero-2.jpg);
    position: relative;
}

.overlay{
  position: absolute;
  width: 100%;
  background: rgba(0,0,0,0.5);
  height: 100%;
  text-align: center;
  z-index: 1;
  top: 0;
  left: 0;
}

.z-index{
  z-index: 2;
}
.cookiebox{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.txtbox{
  color: white;
  display: flex;
  padding-left: 10px;

}

.btn1{
  color: white;
  background-color: green;
  border: none;
  padding: 5px;
  margin-right: 2px;



}

.btn2{
  color: green;
  background-color: white;
  border: none;
  padding: 5px;
  margin-right: 2px;




}


