 <div class="px-4 py-5 text-center section-hero d-flex align-items-center">
   <div class="overlay"></div>
   <div class="col-lg-6 mx-auto z-index">
     <h1 class="display-5 fw-bold text-white z-index">Jeu-concours ThéTipTop</h1>
     <p class="lead text-center mb-4 text-white z-index">A l’occasion de l’ouverture de notre 10ème boutique</p>
     <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
       <button type="button" class="btn btn-login btn-lg px-4 gap-3 z-index">Je participe</button>
     </div>
   </div>

 </div>
    <div class="container">
        <div id="jeu-concours" class="row pt-5 align-items-center mb-5">
            <div class="col-lg-5">
                <p class="display-4 font-weight-bold title-color">Jeu Concours<br>100% gagnant</p>
            </div>
            <div class="col-lg-7">
                <p class="mb-1">A l’occasion de l’ouverture de notre 10<sup>ème</sup> boutique, ThéTipTop organise
                    un jeu-concours 100% gagnant. Remportez un lot d’une valeur minimum de 15€ à partir de 49€
                    d’achat dans nos boutiques physiques ou sur notre boutique en ligne.</p>
                    <p>À l’issue du jeu-concours, un tirage
                    au sort sera effectué parmi tous les
                    participants afin de déterminer le gagnant d’un an de thé d’une valeur de 360€.</p>
                <button type="button" class="btn btn-login btn-lg px-4 gap-3">Je participe</button>
            </div>
        </div>
        <div class="row flex-column">
            <div class="text-center pt-4 pb-4" id="gains">
                <h2 class="font-weight-bold title-color">Les gains</h2>
            </div>
            <div class="section2-card-container">
                <div class="row px-3">
                    <div class="col-lg-4 col-md-6 p-4" style="margin: -1px;">
                        <div class="card overflow-hidden">
                            <img src="assets/img/thetiptop-the-detox.png" alt="L'infuseur" class="card-img-top" />
                            <div class="card-body">
                                <p>Valeur de gain 15€</p>
                                <h3 class="card-title title-color">L'infuseur</h3>
                                <p class="card-text">Un filtre à thé en acier, idéal pour
                                    infuser son thé dans une grande tasse.</p><a routerLink="/" class="a-1"
                                    href="/">Voir le produit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 p-4" style="margin: -1px;">
                        <div class="card overflow-hidden">
                            <img src="assets/img/thetiptop-the-detox.png" alt="Une boite de 100g d’un thé détox"
                                class="card-img-top" />
                            <div class="card-body">
                                <p>Valeur de gain 15€</p>
                                <h3 class="card-title title-color">Une boite de 100g d’un thé détox ou
                                    d’infusion</h3>
                                <p class="card-text">Un filtre à thé en acier, idéal pour
                                    infuser son thé dans une grande tasse.</p>
                        <a routerLink="/" class="a-1" href="/">Voir le produit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 p-4" style="margin: -1px;">
                        <div class="card overflow-hidden">
                            <img src="assets/img/thetiptop-the-detox.png" alt="Une boite de 100g d’un thé signature"
                                class="card-img-top scale-hover"/>
                            <div class="card-body">
                                <p>Valeur de gain 15€</p>
                                <h3 class="card-title title-color">Une boite de 100g d’un thé signature</h3>
                                <p class="card-text">Un filtre à thé en acier, idéal pour infuser son thé dans une
                                    grande tasse.</p>
                                <a routerLink="/" class="a-1" href="/">Voir le produit</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row px-3">
                    <div class="col-lg-6 p-4" style="margin: -1px;">
                        <div class="card overflow-hidden">
                            <img src="assets/img/thetiptop-the-detox.png" alt="Coffret découverte Sakura"
                                class="card-img-top scale-hover" />
                            <div class="card-body">
                                <p>Valeur du gain 39€</p>
                                <h3 class="card-title title-color">Coffret découverte Sakura</h3>
                                <p class="card-text">Découvrez nos deux thés signatures aux
                                    fleurs de cerisier, réunis dans un seul coffret.</p>
                            <a routerLink="/" class="a-1" href="/">Voir le produit</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 p-4" style="margin: -1px;">
                        <div class="card overflow-hidden">
                    <img src="assets/img/thetiptop-the-detox.png" alt="Coffret découverte Signature" class="card-img-top" />
                            <div class="card-body">
                                <p>Valeur du gain 69€</p>
                                <h3 class="card-title title-color">Coffret découverte Signature</h3>
                                <p class="card-text">Toutes les saveurs de nos thés signatures
                                    réunies en un seul coffret découverte.</p>
                                <a routerLink="/" class="a-1" href="/">Voir le produit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row mb-3 mt-5">
                <h2 class="font-weight-bold title-color text-center mb-5">Tirage au sort</h2>
                <div class="col-lg-6 p-0" id="tirage">
                    <img src="assets/img/thetiptop-the-detox.png" alt="Bande visuelle"
                        style="width: 100%; height: 100%;" />
                </div>
                <div class="col-lg-6 p-5 mb-3">

                    <p class="d-md-block display-4 mb-1 title-color">Un an de thé d’une
                        valeur de 360€ <span class="nobr">à la clé</span></p>
                    <p class="mb-4">À l’issue du jeu-concours, un tirage au sort sera
                        effectué parmi tous les participants afin de déterminer <span class="nobr">le gagnant</span>
                    </p>
                    <a routerLink="/register"><button type="button" class="btn btn-login btn-lg px-4 gap-3">Je participe</button></a>
                </div>
            </div>
        </div>
    </div>
