/* You can add global styles to this file, and also import other style files */
:root {
    --dark-moss-green: #3b5f1cff;
    --apple-green: #94c019ff;
    --marigold: #ec9f05ff;
    --mint-cream: #e5ece9ff;
    --baby-powder: #fffffcff;
}

* {
    font-family: 'Poppins', sans-serif;
}

.btn-login {
    background-color: var(--dark-moss-green);
    color: var(--baby-powder) !important;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-login:hover {
    background-color: var(--apple-green);
}

.title-color{
    color: var(--apple-green);
    }

.login-form {
  width: 500px;
  box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}

/*For Nav Barre */

.logo {
  width: 80px;
}

.navbar {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.navbar-collapse {
  flex-grow: 0;
  background-color: var(--baby-powder);
}

.navbar-toggler:focus {
  box-shadow: unset !important;
}

.navbar-collapse li a{
  color: black;
  display: inline-block;
  z-index: 1;
  text-decoration: white;

}

.navbar-collapse li .active{
  color: darkgreen;
  border-bottom: 3px solid darkgreen;
  width: 100%;
  z-index: 0;
  border-radius: 4px;
  transition: all 0.5s ease 0s;
}
