 <div class="container my-5">
    <div class="border rounded-4 p-5 login-form mx-auto">
      <h1 class="text-center mb-5 title-color">S'inscrire</h1>
      <form class="mt-3">
        <div class="form-floating mb-3">
          <select class="form-select" aria-label="Default select example" id="gender">
            <option value="madame" selected="">Madame</option>
            <option value="monsieur">Monsieur</option>
          </select>
          <label for="gender" class="element-invisible">Civilité</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="Nom" required="">
          <label for="Nom">Nom</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="Prenom" required="">
          <label for="Prenom">Prénom</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="Email" required="">
          <label for="Email">Email</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="Password" required="">
          <label for="Password">Mot de passe</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="Adresse" required="">
          <label for="Adresse">Adresse</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="Password-Validation" required="">
          <label for="Password-Validation">Confirmation du mot de passe</label>
        </div>
        <div class="row no-gutters mb-4">
          <div class="col">
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="CodePostal" required="">
              <label for="CodePostal">Code Postal</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="Ville" required="">
              <label for="Ville">Ville</label>
            </div>
          </div>
        </div>
        <div class="text-center mb-3">
          <button type="submit" class="btn btn-login">Créer mon compte</button>
        </div>
      </form></div>
  </div>
