<nav class="navbar navbar-expand-lg px-4 py-2">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="../assets/img/thetiptop-logo.png" alt="logo de ThéTipTop" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item me-3">
          <a [ngClass]="{
          'nav-link active': this.route.url==='/Admin/clients',
          'nav-link': this.route.url!=='/Admin/clients'
          }"  routerLink="/Admin_clients">Clients</a>
        </li>
        <li class="nav-item me-3">
          <a [ngClass]="{
          'nav-link active': this.route.url==='/Admin/gain',
          'nav-link': this.route.url!=='/Admin/gain'
          }" routerLink="/Admin_gain">Gains</a>
        </li>
        <li class="nav-item me-3">
          <a [ngClass]="{
          'nav-link active': this.route.url==='/Admin/employes',
          'nav-link': this.route.url!=='/Admin/employes'
          }" routerLink="/Admin/employes" >Employés</a>
        </li>
        <li class="nav-item me-3">
          <a [ngClass]="{
          'nav-link active': this.route.url==='/Admin/ticket',
          'nav-link': this.route.url!=='/Admin/ticket'
          }" routerLink="/Admin/ticket" >
            <span class="material-icons" style="font-size: 2em">local_activity</span>
          </a>
        </li>
        <li class="nav-item me-3">
          <a [ngClass]="{
          'nav-link active': this.route.url==='/Admin/magasin',
          'nav-link': this.route.url!=='/Admin/magasin'
          }" routerLink="/Admin/magasin" >
            <span class="material-icons" style="font-size: 2em">storefront</span>
          </a>
        </li>

        <li class="nav-item me-3">
          <a [ngClass]="{
          'nav-link active': this.route.url==='/Admin/stat',
          'nav-link': this.route.url!=='/Admin/stat'
          }" routerLink="/Admin/stat" >
            <span class="material-icons" style="font-size: 2em">query_stats</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-center" routerLink="/Login">

            <button type="button" class="btn btn-login " (click)="Deconnect()">
              <i class="bi bi-person-circle fs-5 me-1" style="font-size: 25px;"></i>
              Se
              deconnecter
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

